<div class="row pokemon-item">
  <div class="col-xs-3 pokemon-item-image">
    <img ng-src="images/{{pokemon.image}}" alt="{{pokemon.name}} image">
  </div>          
  <div class="col-xs-9 pokemon-item-info">
    <div class="pokemon-item-number">{{pad0(pokemon.id)}}</div>
      <span class="pokemon-item-name">
        {{ pokemon.name }}
      </span>   
    <div class="rowA">
      <div class="col75">
        <span ng-repeat="type in pokemon.types">
          <span  class="type" ng-class=type.name >
            {{type.name}}
          </span>
        </span>                       
      </div>
      <div class="col25"> 
        <span class="btn-icon pokeball" ng-class="{'pokeball-pink' : pokemon.caught}" ng-click="caughtPokemon($event);"></span>&nbsp;
        <span class="btn-icon battle" ng-class="{'battle-gold' : pokemon.battle}" ng-click="battlePokemon($event);"></span>
      </div>        
    </div>      
  </div>
  <div class="col-xs-12 overlay" ng-show="uncaught" ng-click="$event.preventDefault();">
    <button class="btn delete" ng-click="removePokemon($event)">
      <span class="glyphicon glyphicon-trash"></span> <br> Remove
    </button>
    <button class="btn undo" ng-click="uncaught=false">
      <span class="glyphicon glyphicon-remove"></span> <br> Undo
    </button>
  </div>
  <div class="message" ng-show="battle">You haven’t captured this Pokémon yet</div>
  <!-- <div class="col-xs-12 overlay" ng-show="battle" ng-click="$event.preventDefault();"></div>  -->
</div>