<div class="row pokemon-item">
  <div class="col-xs-3 pokemon-item-image">
    <img ng-src="images/{{pokemon.image}}" alt="{{pokemon.name}} image">
  </div>          
  <div class="col-xs-9 pokemon-item-info">
    <div class="pokemon-item-number">{{pad0(pokemon.id)}}</div>
      <span class="pokemon-item-name">
        {{ pokemon.name }}
      </span>   
    <div class="rowA">
      <div class="col75">
        <span ng-repeat="type in pokemon.types">
          <span  class="type" ng-class=type.name >
            {{type.name}}
          </span>
        </span>                       
      </div>
      <div class="col25"> 
        <span class="btn-icon pokeball" ng-class="{'pokeball-pink' : pokemon.caught}" ng-click="caughtPokemon($event);"></span>&nbsp;
        <span class="btn-icon battle"></span>
      </div>        
    </div>      
  </div>
</div>

