$primary-color-pink: #E91E63;
$primary-color-pink-dark: #C2185B;
$primary-color-gray: #949494;

$color-light-gray: #cfcfcf;

/* Types colors */
$color-grass:    #97D077;
$color-poison:   #A680B8;
$color-bug:      #A8B820; 
$color-fire:     #FF8000;
$color-water:    #6890F0;
$color-flying:   #A890F0;
$color-normal:   #A8A878;
$color-dark:     #705848;
$color-electric: #F8D030;
$color-ice:      #98D8D8;
$color-steel:    #B8B8D0;
$color-ground:	 #E0C068;
$color-fairy:    #EE99AC;
$color-gold: 	 #ffd700;
$color-gold:	 #d8c43e;

$font-size-base: 16px;
