$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "colors-variables";

body{
  font-family: 'Helvetica', sans-serif;
  color: #363636;
  a, a:hover{
    color: #363636;
  }
}


/* Main menu */
.navbar-default{
  margin-bottom: 0;
  .navbar-header{
    background-color: $primary-color-pink;
    .navbar-toggle{      
      color: white;
      display:inline-block;
      font-size: $font-size-base + 8px;
      padding: 0 10px;
      border: none;   
      &:hover, &:focus
      {
        background: none;
      }   
    } 
    #btn-back{
      display:none;
    }   
    .navbar-brand{
      font-weight:bold;
      width: 100%;
      float: left;        
      text-align: center;
      color: white !important;
      margin-left: -59px;
      font-size: $font-size-base + 4;
    }
  }
  .navbar-collapse{
    background-color: $primary-color-pink;
    .navbar-nav{
      margin-top: 0;
      margin-bottom: 0;
      li{
        background: url('../images/right-arrow.png') 95% center no-repeat;
        border-bottom: 1px solid white;
        text-align: center;
        padding: 3px;
        font-size: $font-size-base + 2;
        &:hover {
          background-color: $primary-color-pink-dark;
        }
        a{
          color:white;
          &:hover {
            color:white;
          }
        }        
      }
    } 
  }
}

.type{
  display: inline-block;
  width: 50px;
  text-align: center;
  color:white;
  font-size: 12px;
  border-radius: 4px;
  padding-top: 1px;
  margin-right: 2px;

  &.Grass   { background-color: $color-grass;    }
  &.Poison  { background-color: $color-poison;   }
  &.Bug     { background-color: $color-bug;      }
  &.Fire    { background-color: $color-fire;     }
  &.Water   { background-color: $color-water;    }
  &.Flying  { background-color: $color-flying;   }
  &.Normal  { background-color: $color-normal;   }
  &.Dark    { background-color: $color-dark;     }
  &.Electric{ background-color: $color-electric; }
  &.Ice     { background-color: $color-ice;      }
  &.Steel   { background-color: $color-steel;    }
  &.Ground  { background-color: $color-ground;   }
  &.Fairy   { background-color: $color-fairy;    }

}
/** Search bar **/
.search-bar{
  padding: 15px 10px;
  border-bottom: 1px solid $color-light-gray;
  .search{
    width:88%;
    float:left;
    input{
      width:100%;
      border-radius: 5px;
      padding: 6px;
      border:1px solid $color-light-gray;
    }
  }
  .sort{
    width:12%;
    height: 35px;
    float: left;
    text-align: center;
    padding-top: 3px;
    img{
      height: 25px;
    }
  }
  &:after{
      content: '';
      display: block;
      clear: both;
    }
}
/** End search bar **/


/** Pokemon list **/
.pokemon-list{
  .pokemon-item{
    position: relative;
    border-bottom: 1px solid $color-light-gray;
    .pokemon-item-image{
      padding: 10px;
      img{
        width:100%;
        border: 1px solid $color-light-gray;
        padding: 3px 10px;
      }
    }    
    .pokemon-item-info{
      padding: 20px 10px 0 5px;
      .pokemon-item-number{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: $font-size-base - 2;
        color: $primary-color-gray;
      }
      .pokemon-item-name{
        padding: 0px;
        font-size: 16px;        
        font-weight:bold;
        margin-bottom: 5px;
        margin-top:5px;  
        .pokemon-item-level{
          font-weight: normal;
          color: $primary-color-gray;
          font-size: $font-size-base - 2px;
          position: absolute;
          left: 105px;
        }     
      }
      .rowA{
        margin:7px 0;
        .col75{
          width:75%;
          float:left;
        }
        .col25{
          width:25%;
          text-align:right;
          float:left;
          .btn-icon{
            display: inline-block;
            width: 23px;
            height: 23px;        
            background-size: 23px;
            vertical-align: middle;
          }
          .pokeball     { background-image: url('../images/pokeball.png'); }
          .pokeball-pink{ background-image: url('../images/pokeball-pink.png'); }
          .battle       { background-image: url('../images/star.png'); }
          .battle-gold  { background-image: url('../images/star-gold.png'); }
        }
        &:after{
         content: '';
          display: block;
          clear: both;
        }
      }
    }
    .overlay{
      background-color: rgba(211, 211, 211, 0.7);
      position: absolute;
      bottom:0;
      top:0;
      .btn{
        position: absolute;
        top:0px;
        bottom:0px;
        width:25%;
        border-radius: 0;
        color: white;
        &.delete{
          right:0;
          background-color: $primary-color-pink;
        }
        &.undo{
          background-color: $primary-color-pink;
          background-color: $primary-color-gray;
          right:25%;
        }
        &.gold{
          background-color: $color-gold;
        }
        .glyphicon{
          font-size: $font-size-base + 4;
        }
      }
    }
    .alert-toast{
      width: 70%;
      position: absolute;
      text-align: center;
      padding: 7px 7px;
      margin: 0 auto;
      bottom:7px; left:0; right: 0;
      background-color: rgba(51, 51, 51, 0.9);;
      color: $color-light-gray;
    } 
  }
}
/* end pokemon list */

/* Pokemon Description */
.pokemon-description{
  .pokemon-image{
    padding: 10px;
    img{
      width:100%;
      //padding: 3px 10px;
    } 
  }
  .description{
    color: $primary-color-gray;
    padding: 5px;
    .desc-title{
      font-size: 18px;
      margin-top: 10px;
      color: $primary-color-pink;
      font-weight: bold;
      position: relative;
      .icons{
        position: absolute;
        top:0;
        right:10px;
      }
    }
  }
}


.information{
  .info-title{
    background-color: $color-light-gray;
    color:white;
    font-size: 18px;
    padding: 8px 30px;
    font-weight: bold;
  }
  .table{
    color:$primary-color-gray;
    font-size: $font-size-base;
    margin-bottom: 0px;
    td{
      padding-left: 20px !important;
    }
  }
}
.no-evolutionary{
  padding: 20px 0;
  color: $primary-color-gray;
  font-size: $font-size-base;
  text-align: center; 
}