$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "colors-variables";

body{
  font-family: 'Helvetica', sans-serif;
}


/* Main menu */
.navbar-default{
  margin-bottom: 0;
  .navbar-header{
    background-color: $primary-color-pink;
    .navbar-toggle{      
      color: white;
      display:inline-block;
      font-size: $font-size-base + 8px;
      padding: 0 10px;
      border: none;   
      &:hover, &:focus
      {
        background: none;
      }   
    } 
    .navbar-go-back{
      display:none;
    }   
    .navbar-brand{
      font-weight:bold;
      width: 100%;
      float: left;        
      text-align: center;
      color: white !important;
      margin-left: -59px;
      font-size: $font-size-base + 4;
    }
  }
  .navbar-collapse{
    background-color: $primary-color-pink;
    .navbar-nav{
      margin-top: 0;
      margin-bottom: 0;
      li{
        background: url('../images/right-arrow.png') 95% center no-repeat;
        border-bottom: 1px solid white;
        text-align: center;
        padding: 3px;
        font-size: $font-size-base + 2;
        &:hover {
          background-color: $primary-color-pink-dark;
        }
        a{
          color:white;
          &:hover {
            color:white;
          }
        }        
      }
    } 
  }
}
.description-header{
  background: $primary-color-pink;
  color:white;
  font-size: 18px;
  padding: 10px;
  font-weight: bold;
  .go-back{
    position: absolute;
    top: -10px;
    left: -10px;
    padding: 10px 20px;
    cursor: pointer;
    &:hover {
      background-color: $primary-color-pink-dark;
    }
  }
}

.description-section{
  .pokemon-image{
    width: 40%;
    float: left;
    text-align: center;
    margin-top: 20px;
  }
  .description{
    width: 60%;
    float:left;
    color: $primary-color-gray;
    padding: 5px;
    .desc-title{
      font-size: 18px;
      margin-top: 10px;
      color: $primary-color-pink;
      font-weight: bold;
      position: relative;
      .icons{
        position: absolute;
        top:0;
        right:10px;
      }
    }
  }
}


.type{
  display: inline-block;
  width: 50px;
  text-align: center;
  color:white;
  font-size: 12px;
  border-radius: 4px;
  padding-top: 1px;

  &.Grass   { background-color: $color-grass;    }
  &.Poison  { background-color: $color-poison;   }
  &.Bug     { background-color: $color-bug;      }
  &.Fire    { background-color: $color-fire;     }
  &.Water   { background-color: $color-water;    }
  &.Flying  { background-color: $color-flying;   }
  &.Normal  { background-color: $color-normal;   }
  &.Dark    { background-color: $color-dark;     }
  &.Electric{ background-color: $color-electric; }
  &.Ice     { background-color: $color-ice;      }
  &.Steel   { background-color: $color-steel;    }
  &.Ground  { background-color: $color-ground;   }
  &.Fairy   { background-color: $color-fairy;    }

}
/** Search bar **/
.search-bar{
  padding: 15px 10px;
  border-bottom: 1px solid $color-light-gray;
  .search{
    width:88%;
    float:left;
    input{
      width:100%;
      border-radius: 5px;
      padding: 6px;
      border:1px solid $color-light-gray;
    }
  }
  .sort{
    width:12%;
    height: 35px;
    float: left;
    text-align: center;
    padding-top: 3px;
    img{
      height: 25px;
    }
  }
  &:after{
      content: '';
      display: block;
      clear: both;
    }
}
/** End search bar **/


/** Pokemon list **/
.pokemon-list{
  .pokemon-item{
    border-bottom: 1px solid $color-light-gray;
    .pokemon-item-image{
      padding: 10px;
      img{
        width:100%;
        border: 1px solid #999999;
        padding: 3px 10px;
      }
    }    
    .pokemon-item-info{
      padding: 20px 10px 0 5px;
      .pokemon-item-number{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 12px;
        color: $primary-color-gray;
      }
      .pokemon-item-name{
        padding: 0px;
        font-size: 16px;        
        font-weight:bold;
        margin-bottom: 5px;
        margin-top:5px;
        /*
        .pokemon-item-level2{
          font-weight: normal;
          color: $primary-color-gray;
          font-size: $font-size-base - 2px;
          position: absolute;
          left: 90px;
        }
        */
      }
      .rowA{
        margin:7px 0;
        .col75{
          width:75%;
          float:left;
        }
        .col25{
          width:25%;
          text-align:right;
          float:left;
        }
        &:after{
         content: '';
          display: block;
          clear: both;
        }
      }
    }    
  }
}
/* end pokemon list */

/** Pokemon list 2**/
.pokemon-list{

}


.information{
  .info-title{
    background: $primary-color-gray;
    color:white;
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
  }
  .table{
    color:$primary-color-gray;
    font-size: $font-size-base;
    margin-bottom: 0px;
    td{
      padding-left: 20px !important;
    }
  }
  .evolution{
    border-bottom: 1px solid $color-light-gray;
    position: relative;
    &:after{
      content: '';
      display: block;
      clear: both;
    }
    .evolution-number{
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 12px;
      color: $primary-color-gray;
    }
    .evolution-image{
      width: 30%;
      float: left;
      text-align: center;
      img{
        border: 1px solid #999999;
        padding: 3px 10px;
        margin: 10px;
      }
    }
    .evolution-info{
      float:left;
      .evolution-desc{
        padding:10px;
        .evolution-name{
          font-size: 16px;
          display: block;
          font-weight: bold;
          margin-bottom: 5px;
          margin-top:5px;
          position: relative;
          .evolution-level{
            font-weight: normal;
            color: $primary-color-gray;
            font-size: $font-size-base - 2px;
            position: absolute;
            left: 90px;
          }
        }
      }
    }
  }
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    red;
  opacity:  1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    red;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    red;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    red;
}