<div class="row pokemon-description">
  <div class="col-xs-4 pokemon-image">
    <img ng-src="images/{{pokemon.image}}" alt="{{pokemon.image}} image">
  </div>
  <div class="col-xs-8 description">
    <div class="desc-title">
      {{ pad0(pokemon.id) }} {{pokemon.name}}
      <div class="icons">
        <img src="images/pokeball.png" width="16">
        <img src="images/star.png" width="16" >
      </div>
    </div>
    <p>{{pokemon.height}}m, {{pokemon.weight}}kg</p>
    <p>
      {{pokemon.description}}
    </p>
    <span ng-repeat="type in pokemon.types">
      <span  class="type" ng-class=type.name >
        {{type.name}}
      </span>
    </span>
  </div>
</div>

<div class="row information">
  <div class="info-title">
    General Information
  </div>
  <div>
    <table class="table">
      <tr>
        <td><b>Hidden Abilities</b></td>
        <td><span ng-repeat="ability in pokemon.abilities" ng-show="ability.is_hidden">
            {{ability.name}}
          </span>
        </td>
      </tr>
      <tr>
        <td><b>Location</b></td>
        <td>
          <span ng-repeat="locations in pokemon.location_area_encounters">
            {{locations.name}}{{$last ? '' : ', '}}
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="information">
  <div class="row info-title">
    Evolution
  </div>
  <div class="pokemon-list">
  	<div ng-repeat="evolution in pokemon.evolutions">
  		<pokemon-evolution evolution="evolution" types="pokemon.types"></pokemon-evolution>
  	</div>
  </div>
  <div class="no-evolutionary" ng-show="pokemon.evolutions.length==0" >
  	This Pokémon is not part <br> of an evolutionary line
  </div>
</div>
