<div class="row search-bar">
  <div class="search">
    <input type="text" ng-model="search.name" placeholder="Search..." name="">
  </div>
  <div class="sort" ng-click="sort()">
    <img ng-src="{{reverse ? 'images/filterImgReverse.png' : 'images/filterImg.png'}}" alt="">
  </div>
</div>


<div class="pokemon-list">
  <a ng-repeat="pokemon in pokemons | orderBy:id:reverse | filter:search" ng-href="#/pokemons/{{pokemon.id}}">  
    <div class="row pokemon-item">
      <div class="col-xs-3 pokemon-item-image">
          <img ng-src="images/{{pokemon.image}}" alt="{{pokemon.name}} image">
      </div>          
      <div class="col-xs-9 pokemon-item-info">
        <div class="pokemon-item-number">{{pad0(pokemon.id)}}</div>
        <span class="pokemon-item-name">
          {{ pokemon.name }}        
        </span>   
        <div class="rowA">
          <div class="col75">
            <span ng-repeat="type in pokemon.types">
              <span  class="type" ng-class=type.name >
                {{type.name}}
              </span>
            </span>                       
          </div>
          <div class="col25">        
            <img src="images/pokeball.png" alt="">&nbsp;
            <img src="images/star.png" alt="">
          </div>        
        </div>      
      </div>
    </div>      
  </a>        
</div>
  