<div class="row search-bar">
  <div class="search">
    <input type="text" placeholder="Search..." name="">
  </div>
  <div class="sort">
    <img src="images/filter-results-button.png">
  </div>
</div>

<div class="row pokemon-list">
  <div ng-repeat="pokemon in pokemons" class="pokemon-item">
    <div class="pokemon-item-number">#0{{pokemon.id}}</div>
    <div class="pokemon-item-image">
      <img ng-src="images/{{pokemon.image}}" alt="a">
    </div>
    <div class="pokemon-item-info">
      <div class="pokemon-item-desc">
        <span class="pokemon-item-name">
          {{ pokemon.name }}
          <span class="pokemon-item-level">{}{LV.32}</span>
        </span>
        <span ng-repeat="type in pokemon.types">
          <span  class="type" ng-class=type.name >{{type.name}}</span>
        </span>
        &nbsp;
      </div>      
    </div>    
  </div>
</div>
  